$bgAzul:linear-gradient(to left,rgb(42, 140, 201), rgb(2, 10, 26));
$bgBody:linear-gradient(to left,rgb(221, 228, 231), rgb(107, 109, 112));
$bgBotonesMain:linear-gradient(to left,rgb(156, 184, 201), rgb(37, 78, 153));
$marcoBlanco:blanchedalmond;