@import "colores";
                                /*DECLARANDO VARIABLES PARA MAP-GET*/
$estilos: (
    color: whitesmoke,
    w310: 310px,
    h310: 310px
);
                                /*DECLARACION MIXIN*/
@mixin estiloImagen ($width, $height,$border){
    width: $width;
    height: $height;
    border: $border;  
    
}
                                /*FIN DECLARACION MAP-GET*/

    .section__img--portada {
        margin: 100px 0px;
        
        
    }
    
    .imgPortada {
        width: 70%;
        height: auto;
    }
    .div__parrafo {
        background-color: map-get($estilos, color );
        border-radius: 20px ;
        border: rgb(133, 136, 153) solid 4px;
    }
    .div__portal--parrafo {
        width: 65%;
        height: auto;
    }
    .portal__parrafo--texto {
        margin: 30px;  
        font-size: 22px;
        
    }
    
    .Autoridades {
        background-image: $bgAzul;
        color: $marcoBlanco;
        border: 5px outset white;    
    }
                                 /*EXTEND DE AUTORIDADES A IDEARIO E INSTALACIONES*/
    .Ideario {
      @extend .Autoridades; 
    }
    .Instalaciones {
      @extend .Autoridades;  
    }
                                             /* INICIO MIXIN*/        
    .imagenes1{
        @include estiloImagen(300px,300px,5px outset whitesmoke); 
        transition: height 0.5s,width 0.5s;
        margin: 2% auto ;
        
    }
                                                /* FIN MIXIN*/ 
    .imagenes2{
        @extend .imagenes1;  
        
        
    }
    .imagenes3{
        @extend .imagenes1;
            
    }
                                                /* FIN DE EXTEND */
                                                /*INICIO MAP-GET*/
    .imagenes1:hover {
        height:map-get($estilos, h310 );
        width:map-get($estilos, w310 );
    }
    .imagenes2:hover {
       @extend .imagenes1:hover; 
    }
    .imagenes3:hover {
        @extend .imagenes1:hover;
        
    }
    .section__imagenes {
        margin: 80px 0;
    }
                                                /*FIN MAP-GET*/
    
    
                                                            /* PLANES DE ESTUDIO */
    .imagen__Bachiller {
    width: 400px;
    height: 300px;
    margin: 50px 0px 100px;
    color: blanchedalmond;
    border: 5px outset white;  
    }
    .h3__Bachiller1 {
    font-size: 24px;
    height: fit-content;
    background-image: linear-gradient(to left,rgb(42, 140, 201), rgb(2, 10, 26));
    border-radius: 10px solid black;
    color: blanchedalmond;
    border: 5px outset white;   
    }
    .h3__Bachiller2 {
    @extend .h3__Bachiller1;   
    }
                                                            /* AUTORIDADES */
    .parrafo {
    font-size: 26px;
    }
    .section__tabla--autoridades {
    margin: 0 0 100px 0;
    }
    .section__autoridades {
    margin: 100px 0px ;
    }
                                                                /* IDEARIO */
    .p__ideario {
    font-size: 24px;
    padding: 20px;
    }              
                                                                /*INSTALACIONES  */
    .img__instalaciones--tamaño {
    width: 440px;
    height: 350px;
    padding: 8px;
    }
    .h1__instalaciones {
        font-size: 32px;
        padding: 20px;
    }
    .h2__seguridad {
        font-size: 32px;
        padding: 20px;
    }
    .h2__edificio {
        @extend .h2__seguridad;
    }
    .h3__seguridad {
        font-size: 22px;
        padding: 20px;
    }
    .h3__edificio {
        font-size: 22px;
        padding: 20px;
    }
    .div__instalaciones2 {
        padding: 40px 280px;
    }
                                                            /*PROYECTOS*/
    .proyectos__tamaño {
        width: 450px;
        height: 400px;
        padding: 10px;
    }             
    .section__proyectos {
        display: flex;
        flex-wrap: wrap;
        padding: 40px;    
        
    }                                     
                                                    /*CONTACTO*/ 
    
    .div__copy--margin {
        margin: 10px 0 0 0 ;
    }
                                                /*INGRESO*/

.portal {
    width: 70%;
    height: auto;
}
.section__ingreso--portal {
    margin: 100px 0px;
}
