@import "colores";


.Container {
    font-family: Zen Antique, Verdana  ;
    
}
body {
    background-image: $bgBody;
}
.bg__azul {
    background-image: $bgAzul;
    border: solid black 5px;
}
.imgLogo {
    width: 120px;
    height: 150px;
    
}
.ul_listType {
    text-decoration: none;
    text-decoration-style: none;
    list-style-type: none;
}
.div__nav--header {
    margin-top: 20px;
}
.lista__nav {
    background-color: white ;
    background-image: $bgBotonesMain;
    border-radius:  10px;
    color: white;
    font-size: 20px ;
}