
   @import "colores";
    
   
         /* MEDIAS QUERIES VISTA MOBILE */
@media only screen and (min-width: 0px) and (max-width: 768px){
            /* INDEX */
.imagenes1{
width: 200px;
height: 200px;
transition: height 0.5s,width 0.5s;
margin: 2% auto ;
border: 5px outset whitesmoke;  
                        
                        
}
.imagenes2{
width: 200px;
height: 200px;
transition: height 0.5s,width 0.5s;
margin: 2% auto ;
border: 5px outset whitesmoke;  
                        
                        
}
.imagenes3{
width: 200px;
height: 200px;
transition: height 0.5s,width 0.5s;
margin: 2% auto ;
border: 5px outset whitesmoke; 
                            
}
.imagenes1:hover {
height: 300px;
width: 300px;
}
.imagenes2:hover {
height: 300px;
width: 300px;
}
.imagenes3:hover {
height: 300px;
width: 300px;
}
.section__imagenes {
display: flex;
flex-direction: column;
}
.div__general--footer {
display: flex;
flex-direction: column;
}
.imgLogo {
width: 100px;
height: 130px;
}
.datos {
color: blanchedalmond;
font-size: 14px;
                        
}
.div__footer--datos {
justify-content: center;
align-self: center;
padding: 15px;
}
.div__footer--redes {
    padding: 12px;
}

.imgPortada {
width: 300px;
height: 200px;
}

.portal__parrafo--texto {
font-size: 14px;
}


                /* AUTORIDADES */
.parrafo {
font-size: 18px;
}
.section__autoridades {
margin: 70px 0px ;
}
.section__tabla--autoridades {
margin: 0 0 70px 0;
}
.h1__autoridades {
font-size: 24px;
}
                        /* IDEARIO */

.h1__ideario {
font-size: 24px;
}        
.p__ideario {
font-size: 14px;
}
.section__ideario--titulo {
margin: 25px 0;
}

                                /* INSTALACIONES */

.img__instalaciones--tamaño {
width: 220px;
height: 200px;
}
                        /* PROYECTOS */
.proyectos__tamaño {
    width: 250px;
    height: 200px;
    padding: 10px;
}
                                /*PLANES DE ESTUDIO*/
.imagen__Bachiller {
    height: 200px;
    width: 250px;
  
}           

.section__Bachiller {
    display: flex;
    flex-direction: column;
    
}
                                
}

/* VISTA DESKTOP*/
 @media only screen and (min-width: 769px)  {


    .gridContainer{
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "footer"
        "copy";
        grid-template-columns:  1fr ;
        grid-template-rows: 1fr auto fit-content fit-content ;
        
    
    } 
    
     header{
        grid-area: header; 
        background-image: $bgAzul;
        justify-content: center;
        padding: 10px;
        
    
    }
    main{
        grid-area: main; 
        background-image: $bgBody;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    footer{
        grid-area: footer;   
        display: flex;
        height: fit-content;
        background-image: linear-gradient(to left,rgb(42, 140, 201), rgb(2, 10, 26));
        justify-content: space-between;
        border: rgb(0, 0, 0) solid 5px;
        
    } 
    copy {
        grid-area: copy;
        display: flex;

    }
   
     
    .flex {
        display: flex;
        display: inline-block;

    }
    .logo {
        
        display: flex;
        justify-content: center;
    }
    .nav__contactos {
        display: flex;
        justify-content: center;
    }
    .div__iframe {
        display:flex;
        justify-content:center;
        margin: 40px;
    }
    .div__input {
        display: flex;
        justify-content:center;
    }
    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20%;
        padding: 20px;
        
    }
    
    .div__copy {
        display: flex;
        justify-content: center;
    }
    .div__footer--redes {
        display: flex;
        justify-content: center;
    }
    
    .div__general--footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
   
}
         